    <div id="page_content">
        <div id="page_content_inner">

            <div class="md-card">
                <div class="md-card-content">
                    <h3 class="heading_a">Buttons</h3>

                    <p class="uk-text-large">Raised</p>
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-6">
                            <a class="md-btn md-btn-wave" href="javascript:void(0)">Default</a>
                        </div>
                        <div class="uk-width-medium-1-6">
                            <a class="md-btn md-btn-primary md-btn-wave-light" href="javascript:void(0)">Primary</a>
                        </div>
                        <div class="uk-width-medium-1-6">
                            <a class="md-btn md-btn-warning md-btn-wave-light" href="javascript:void(0)">Warning</a>
                        </div>
                        <div class="uk-width-medium-1-6">
                            <a class="md-btn md-btn-danger md-btn-wave-light" href="javascript:void(0)">Danger</a>
                        </div>
                        <div class="uk-width-medium-1-6">
                            <a class="md-btn md-btn-success md-btn-wave-light" href="javascript:void(0)">Success</a>
                        </div>
                        <div class="uk-width-medium-1-6">
                            <a class="md-btn disabled" href="javascript:void(0)">Disabled</a>
                        </div>
                    </div>

                    <p class="uk-margin-large-top uk-text-large">Flat</p>
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-6">
                            <a class="md-btn md-btn-flat md-btn-wave" href="javascript:void(0)">Default</a>
                        </div>
                        <div class="uk-width-medium-1-6">
                            <a class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave" href="javascript:void(0)">Primary</a>
                        </div>
                        <div class="uk-width-medium-1-6">
                            <a class="md-btn md-btn-flat md-btn-flat-warning md-btn-wave" href="javascript:void(0)">Warning</a>
                        </div>
                        <div class="uk-width-medium-1-6">
                            <a class="md-btn md-btn-flat md-btn-flat-danger md-btn-wave" href="javascript:void(0)">Danger</a>
                        </div>
                        <div class="uk-width-medium-1-6">
                            <a class="md-btn md-btn-flat md-btn-flat-success md-btn-wave" href="javascript:void(0)">Success</a>
                        </div>
                        <div class="uk-width-medium-1-6">
                            <a class="md-btn md-btn-flat disabled" href="javascript:void(0)">Disabled</a>
                        </div>
                    </div>

                    <p class="uk-margin-large-top uk-text-large">Size</p>
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-4">
                            <a class="md-btn md-btn-primary md-btn-small md-btn-wave-light" href="javascript:void(0)">Mini</a>
                        </div>
                        <div class="uk-width-medium-1-4">
                            <a class="md-btn md-btn-primary md-btn-large md-btn-wave-light" href="javascript:void(0)">Large</a>
                        </div>
                        <div class="uk-width-medium-1-4">
                            <a class="md-btn md-btn-primary md-btn-block md-btn-wave-light" href="javascript:void(0)">Full width</a>
                        </div>
                    </div>

                    <p class="uk-margin-large-top uk-text-large">Social buttons</p>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="uk-grid uk-grid-width-1-1 uk-grid-width-large-1-3" data-uk-grid-margin>
                                <div><a href="javascript:void(0)" class="md-btn md-btn-facebook md-btn-large md-btn-block"><i class="uk-icon-facebook"></i>Sign in with Facebook</a></div>
                                <div><a href="javascript:void(0)" class="md-btn md-btn-twitter md-btn-large md-btn-block"><i class="uk-icon-twitter"></i>Sign in with Twitter</a></div>
                                <div><a href="javascript:void(0)" class="md-btn md-btn-gplus md-btn-large md-btn-block"><i class="uk-icon-google-plus"></i>Sign in with Google+</a></div>
                            </div>
                            <div class="uk-grid uk-grid-width-1-1 uk-grid-width-large-1-3" data-uk-grid-margin>
                                <div><a href="javascript:void(0)" class="md-btn md-btn-facebook  md-btn-block"><i class="uk-icon-facebook"></i>Sign in with Facebook</a></div>
                                <div><a href="javascript:void(0)" class="md-btn md-btn-twitter  md-btn-block"><i class="uk-icon-twitter"></i>Sign in with Twitter</a></div>
                                <div><a href="javascript:void(0)" class="md-btn md-btn-gplus  md-btn-block"><i class="uk-icon-google-plus"></i>Sign in with Google+</a></div>
                            </div>
                            <div class="uk-grid uk-grid-width-1-1">
                                <div>
                                    <a href="javascript:void(0)" class="md-btn md-btn-facebook"><i class="uk-icon-facebook uk-margin-remove"></i></a>
                                    <a href="javascript:void(0)" class="md-btn md-btn-twitter"><i class="uk-icon-twitter uk-margin-remove"></i></a>
                                    <a href="javascript:void(0)" class="md-btn md-btn-gplus"><i class="uk-icon-google-plus uk-margin-remove"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <p class="uk-margin-large-top uk-text-large">Floating Action Buttons</p>
                    <p>Floating action buttons are used for a promoted action. They are distinguished by a circled icon floating above the UI and have motion behaviors that include morphing, launching, and a transferring anchor point.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="md-fab-wrapper md-fab-speed-dial">
        <a class="md-fab md-fab-primary" href="javascript:void(0)" data-uk-tooltip="{pos:'right'}" title="Mailbox" md-fab-speed-dial><i class="material-icons">&#xE0BE;</i></a>
        <div class="md-fab-wrapper-small">
            <a class="md-fab md-fab-small" href="javascript:void(0)" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Download"><i class="material-icons">&#xE163;</i></a>
            <a class="md-fab md-fab-small md-fab-warning" href="javascript:void(0)" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Flag"><i class="material-icons">&#xE2C3;</i></a>
            <a class="md-fab md-fab-small md-fab-danger" href="javascript:void(0)" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Upload"><i class="material-icons">&#xE153;</i></a>
            <a class="md-fab md-fab-small md-fab-success" href="javascript:void(0)" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Send"><i class="material-icons">&#xE149;</i></a>
        </div>
    </div>
